section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.hover-component {
    position: relative;
    display: inline-block;
}

.hover-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    z-index: 1;
    font-size: 10px;
}

.hover-trigger:hover + .hover-content {
    display: block;
}

